<div class="product-card">
  <div class="product-img">
    <img src="{%PRODUCTIMAGE%}" alt="" />
  </div>
  <div class="product-info">
    <ul>
      <li>
        <span>Rating</span>
        <span
          >: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ></span>
      </li>
      <li>
        <span>Name</span>
        <span>: {%PRODUCTNAME%}</span>
      </li>
      <li>
        <span>Price</span>
        <span>: ${%PRICE%}</span>
      </li>
    </ul>
  </div>
  <a href="/product?id={%ID%}" class="btn">More Detail</a>
</div>
